@use 'src/styles/variables' as *;

.app-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  column-gap: 20px;
}

.app-ship-selector {
  max-width: 500px;
}

.game-state-panel {
  @media (min-width: 900px) {
    max-width: 20%;
  }
}

.app-gameboard {
  background-color: $surface-color;
  width: fit-content;
  padding: 30px;
  border-radius: 5%;
}

.bground-image {
  top: 0;
  position: fixed;
  background-repeat: no-repeat;
  object-fit: fill;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.right-cloud {
  top: 0;
  position: fixed;
  background-repeat: no-repeat;
  object-fit: fill;
  z-index: -1;
  width: 40vw;
  height: auto;
  margin-left: 1200px;
  margin-top: 400px;
}
.left-cloud {
  top: 0;
  position: fixed;
  background-repeat: no-repeat;
  object-fit: fill;
  z-index: -1;
  width: 30vw;
  height: auto;
  margin-top: 200px;
}