@use "variables" as *;

.error-text {
  color: $error-color;
}

.bold-text {
  font-weight: $bold-font-weight;
}

.game-button {
  padding: 10px;
  background-color: $primary;
  color: white;

  border: none;
  outline: none;

  &:disabled {
    //background-color: darken($primary, 5%);
    background-color: $surface-color;
    color: grey;
  }
}

.game-tile {
  cursor: pointer;
  user-select: none;

  background-color: $game-tile-background-color;

  border: solid $game-tile-border-width $game-tile-border-color;
  height: $game-tile-height;
  width: $game-tile-width;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard-row-header, .gameboard-col-header {
  width: $game-tile-width;
  height: $game-tile-height;
  border: solid $game-tile-border-width $clear;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game-tile-covered {
  background-color: blue;
}


.game-ship {
  cursor: grab;
  user-select: none;

  position: absolute;
  width: min-content;

  border: solid $game-tile-border-width $game-tile-border-color;
}

.game-ship-initial-location-placeholder {
  background-color: $clear;
  height: $game-tile-height + $game-tile-border-width + $game-tile-border-width;
  width: 0;
}

.game-ship-section {
  background-color: rgba(255, 25, 174, 0.29);
  height: $game-tile-height + $game-tile-border-width + $game-tile-border-width;
  width: $game-tile-width + $game-tile-border-width + $game-tile-border-width;
}

.game-tile-text {
  font-size: $game-tile-font-size;
}

.game-tile-your-ship {
  background-color: orange;
}

.game-tile-your-ship-sank {
  color: white;
  background-color: #000000;
}

.game-tile-targeted {
  background-color: #af0707;
}

.game-tile-struck-enemy-ship {
  color: white;
  background-color: #050559
}

.game-tile-missed-enemy-ship {
  background-color: #8f8f8f
}

.game-ship-error {
  background-color: rgba(234, 16, 16, 0.35);
}

.game-tile-error {
  background-color: $error-color;
}

.pixel-font {
  font-family: $pixel-font-family;
}
.bungee-font {
  font-family: $bungee-font-family;
}
.custom-font {
  font-family: $custom-font-family;
}

.game-title {
  font-size: $font-size-xxl;
  text-shadow: $game-text-shadow;
}

.game-subtitle {
  font-size: $font-size-lg;
  text-shadow: $game-text-shadow;
}

.game-info-text {
  font-size: $font-size-med;
  font-weight: $bold-font-weight;
  overflow-wrap: normal;
}

.landing-page-text {
  font-size: $font-size-landing-page;
}

.gameboard-header-text {
  font-size: $game-tile-header-font-size;
  font-weight: $game-tile-header-font-weight;
  text-shadow: $game-text-shadow-small;
}
