@use 'variables' as *;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: $font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-family;
}
