@use "variables" as *;

.flex-row {
  display: flex;
  flex-direction: row;

  &.space-between {
    justify-content: space-between;
  }

  &.align-items-flex-start {
    align-items: flex-start;
  }

  &.align-items-center {
    align-items: center;
  }

  &.col-gap {
    column-gap: $column-gap;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.error-text {
  color: $error-color;
}

.bold-text {
  font-weight: $bold-font-weight;
}

