
// font
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

// import pixelfy font
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
$pixel-font-family: 'Pixelify Sans', san-serif;

$bold-font-weight: 700;
$font-weight: 400;

$font-size-xxl: 100px;
$font-size-xl: 64px;
$font-size-lg: 32px;
$font-size-subtitle: 24px;
$font-size-landing-page: 25px;
$font-size-med: 18px;
$font-size: 14px;

// colors
$primary: #ff78f8;
$secondary: #2f2f2f;
$clear: rgba(0,0,0,0);
$body-background-color: rgb(255, 211, 218);

$surface-color: #efefef;
$error-color: #ff3636;

// game tile & header variables
$game-tile-width: 40px;
$game-tile-height: 40px;
$game-tile-border-width: 1px;
$game-tile-background-color: $surface-color;

// game tile variables
$game-tile-font-size: $font-size-med;
$game-tile-font-weight: $font-weight;
$game-tile-border-color: black;

// game tile header variables
$game-tile-header-font-size: $font-size-subtitle;
$game-tile-header-font-weight: $bold-font-weight;

$game-text-shadow: -5px 4px rgba(16, 161, 234, 0.35);
$game-text-shadow-small: -3px 2px rgba(16, 161, 234, 0.35);
