
// font
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

// import pixelfy font
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
$pixel-font-family: 'Pixelify Sans', san-serif;

$bold-font-weight: 700;
$font-weight: 400;

$font-size-xxl: 60px;
$font-size-lg: 18px;
$font-size: 14px;

// colors
$primary: #ff78f8;
$secondary: #2f2f2f;
$clear: rgba(0,0,0,0);
$body-background-color: rgb(255, 247, 245);

$surface-color: #efefef;
$error-color: #ff3636;

// game tile & header variables
$game-tile-width: 50px;
$game-tile-height: 50px;
$game-tile-border-width: 1px;

// game tile variables
$game-tile-font-size: $font-size-lg;
$game-tile-font-weight: $font-weight;
$game-tile-border-color: black;

// game tile header variables
$game-tile-header-font-size: $font-size-lg;
$game-tile-header-font-weight: $bold-font-weight;
