
// font
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

$bold-font-weight: 700;
$font-weight: 400;

$font-size-lg: 18px;
$font-size: 14px;

// colors
$primary: #ff78f8;
$secondary: #2f2f2f;

$surface-color: #efefef;
$error-color: #ff3636;

//
$game-tile-width: 50px;
$game-tile-height: 50px;
$game-tile-font-size: $font-size-lg;