<img class="bground-image" alt="clouds over ocean" ngSrc="assets/Ocean_8/1.png" height="324" width="576">
<img class="bground-image" alt="clouds over ocean" ngSrc="assets/Ocean_8/2.png" height="324" width="576">
<img class="bground-image-moving" alt="animated clouds over ocean" ngSrc="assets/Ocean_8/3.png" height="324" width="576">
<img class="bground-image-moving-2" alt="animated clouds over ocean" ngSrc="assets/Ocean_8/4.png" height="324" width="576">
<img class="bground-image" alt="clouds over ocean" ngSrc="assets/Ocean_8/5.png" height="324" width="576">
