
.bground-image-moving {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 110vw;
  height: 100vh;
  animation: CloudAnimation 20s infinite;
}

.bground-image-moving-2 {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 110vw;
  height: 100vh;
  animation: CloudAnimation 25s infinite;
}

.bground-image {
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -11;
  width: 100vw;
  height: 100vh;
}

.right-cloud {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 40vw;
  margin-left: 1200px;
  margin-top: 400px;
}

.left-cloud {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 30vw;
  margin-top: 200px;
}

@keyframes CloudAnimation {
  0% {right: -4vw}
  50% {right: -6vw}
  100% {right: -4vw}
}
