// keyframes used to animate clouds slightly to the left and right
@keyframes CloudAnimation {
  0% {right: -5vw}
  50% {right: -6vw}
  100% {right: -5vw}
}

// class used to style the large clouds in front - they are set to animate faster to create dimension
.bground-image-moving {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 110vw;
  height: 100vh;
  animation: CloudAnimation 15s infinite;
}


// class used to style the small clouds in back - they are set to animate slower to create dimension
.bground-image-moving-2 {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 108vw;
  height: 90vh;
  animation: CloudAnimation 25s infinite;
  z-index: -1;
}

// class used to style static sunset image in the back
.bground-image-moving-3 {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

// class used to style static sunset images in the back
.bground-image {
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: -11;
  width: 100vw;
  height: 100vh;
}

// class used in default displaymode, displays the cloud on the bottom right
.right-cloud {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 40vw;
  margin-left: 1200px;
  margin-top: 400px;
}

// class used in default displaymode, displays the cloud on the top left
.left-cloud {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 30vw;
  margin-top: 200px;
}
