<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
<body>
<p>lobby</p>

<p>search for player: </p>
<input [formControl]="searchedPlayer">

<button (click)="onSubmit()" (keydown.enter)="onSubmit()">join</button><br>

<button>random</button>

<p> available players </p>
@for (player of _testData; track player.player_id) {
    <p>{{player.player_name}}</p>
}

</body>