@use "src/styles/variables" as *;

.player-col {
  background-color: $surface-color;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-button-2 {
  padding: 8px 16px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(white, 10%);
  }

  &:focus {
    outline: 2px solid darken(white, 15%);
  }
}

.footer {
  padding: 10px;
  background-color: $surface-color;
  color: black;
  text-align: center;
  width: 100vw;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  line-height: $font-size-small;

  span {
    padding: 0;
    margin: 0;
    font-size: $font-size-small;
  }
}
