@use "src/styles/variables" as *;



.game-title {
  @media (min-width: 1100px) {
    margin-top: 280px;
    font-size: $font-size-xl;
  }
  @media ((max-width: 1100px) and (min-width: 700px))  {
    margin-top: 265px;
    font-size: $font-size-lg;
  }
}

.second-spacer {
  @media (min-width: 1100px) {
    margin-top: 280px;
  }
  @media ((max-width: 1100px) and (min-width: 700px))  {
    margin-top: 170px;
  }
}

.third-spacer {
  margin-top: 5px;
}

.ship-form-buttons {
  @media (min-width: 1100px) {
    font-size: $font-size-med;
  }
  @media ((max-width: 1100px) and (min-width: 700px))  {
    font-size: $font-size-sm;

    .radio-button-label {
      margin-left: 0; // space from button to number label
    }
  }
}

.fourth-spacer {
  @media (min-width: 1100px) {
    margin-top: 25px;
  }
  @media (max-width: 1100px) and (min-width: 700px) {
    margin-top: 20px;
  }
}

.fifth-spacer {
  margin-top: -40px;
}

.landing-page-image {
  z-index: -1;
  position: fixed;

  @media (min-width: 1100px) {
    margin-left: 35px;

    height: 975px;
  }
  @media (max-width: 1100px) and (min-width: 700px) {
    margin-top: 100px;
    margin-left: 20px;

    height: 600px;
  }
}

.landing-page-text {
  @media (min-width: 1100px) {
    font-size: $font-size-med;
  }
  @media (max-width: 1100px) and (min-width: 700px) {
    font-size: $font-size-sm;
  }
}



// button //

.big-red-game-button {
  @media (min-width: 1100px) {
    margin-left: 725px;
    margin-top: 650px;
    font-size: $font-size-med;
  }
  @media (max-width: 1100px) and (min-width: 700px) {
    margin-left: 445px;
    margin-top: 500px;
    font-size: $font-size-sm;
  }

  background: rgb(211, 169, 129);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: solid 2px black;
  position: fixed;

  .big-red-game-button-pushable {
    display: block;
    padding: 20px 10px;
    border-radius: 50%;
    background: #e3b489ff;
    color: white;
    transform: translateY(-6px);
    border: solid 2px black;

    &.disabled {
      background-color: #e3b489ff;
      //transform: translateY(0px);
    }

    &.ready {
      &:active {
        transform: translateY(0px);
        transition: transform 250ms;
      }
    }
  }
}
