.landing-page-image {
    width: 1300px;
    z-index: -1;
    position: fixed;
    margin-top: -20px;
    margin-left: 50px;
}

.dot {
    height: 900px;
    width: 1100px;
    background-color: #bbb;
    position: fixed;
    z-index: -2;
    margin-top: 20px;
    border-radius: 50%;
    display: inline-block;
  }
  .dot2 {
    height: 900px;
    width: 1100px;
    background-color: #909090;
    position: fixed;
    z-index: -3;
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 50%;
    display: inline-block;
  }