<div class="landing-page-wrapper">
  <p>landing page</p>

  <p *ngIf="stats() as stats">Online players: {{ stats.playerCount }} / 10,000</p>

  <span>enter user name: </span>
  <input [formControl]="playerNameForm">
      <!--
      input box created with the <input> tag
      [formControl]= is used to save the user input into the playerNameForm variable
      (keydown.enter) is an event listener that waits for 'return' to be pressed, then it calls onSubmit() (in the landing-page.components.ts file)
      -->

  <!-- this prints the playerLoginMessage (in landing-page.components.ts)
      the playerLoginMessage is set in onSubmit() to "Welcome, "-->


  <p> choose your number of ships </p>
  <app-radio-button-group [radioButtonFormControl]="shipForm"/>
  <br>
  <button (click)="onSubmit()">submit</button> <!-- button created with <button> tag, (click) waits for it to be click, then calls onSubmit() -->
</div>
