<app-cloud-background/>


<div class="pixel-font flex-col vw-90 mx-auto align-items-center">
    <!-- flex-col: creates a flex box in column direction  vw-90: content is width of 90% of the screen  mx-auto: make box centered   justify-content-center/align-items-center: center the content inside the flex box in x and y direction -->
    <img class="landing-page-image" alt="game console with login settings" ngSrc="assets/twevth-iteration.svg" height="2903" width="3870" priority>

    <p class="pixel-font game-title">BATTLESHIP</p>
    <!-- game-title class is created in cmx-theme.scss and the size is in variables.scss -->


    <div class="second-spacer"></div>
    <p class="pixel-font landing-page-text">enter user name: </p>
    <div class="third-spacer"></div>
    <!-- mt is in the tools.scss -->
    <!-- landing-page-text is in cms-theme.scss and size is in variables.scss -->


    <input [formControl]="playerNameForm">
        <!--
        input box created with the <input> tag
        [formControl]= is used to save the user input into the playerNameForm variable
        (keydown.enter) is an event listener that waits for 'return' to be pressed, then it calls onSubmit() (in the landing-page.components.ts file)
        -->

        <!-- this prints the playerLoginMessage (in landing-page.components.ts)
            the playerLoginMessage is set in onSubmit() to "Welcome, "-->

    <div class="fourth-spacer"></div>
    <p class="pixel-font landing-page-text"> choose your number of ships </p>
    <div class="third-spacer"></div>
    <app-radio-button-group class="ship-form-buttons" [radioButtonFormControl]="shipForm"/>
    <br>


    <div class="fifth-spacer"></div>
    <div class="mt-1 pixel-font landing-page-text big-red-game-button" >
        <div (click)="onSubmit()" [ngClass]="{'disabled':!playerNameForm.valid||!shipForm.valid, 'ready': !(!playerNameForm.valid||!shipForm.valid)}" class="big-red-game-button-pushable">
            submit
        </div>
    </div> <!-- button created with <button> tag, (click) waits for it to be click, then calls onSubmit() -->



</div>
