@use "src/styles/variables" as *;

.game-tile {
  cursor: pointer;
  user-select: none;

  border: solid $game-tile-border-width $game-tile-border-color;
  height: $game-tile-height;
  width: $game-tile-width;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-tile-text {
  font-size: $game-tile-font-size;
}
