<h1>Welcome, Commander!</h1>
<h2>How to play: Rules and Scoring</h2>
<h3>
    Game background:
</h3>

<p>Battleship is a two-player strategy game played on ruled grids, where each player secretly places their fleet of warships on a square grid.</p>
<p>The players then take turns calling out coordinates to shoot at the other player's ships, trying to guess their location. The defender responds with "Hit!" or "Miss!"</p>

<p>If a ship is hit, the player records it by placing a red peg in the corresponding hole on their target grid. The opponent then places a red peg in the corresponding hole on their ocean grid for the ship that was hit.</p>

<p>Once all the holes in a ship are filled with red pegs, the ship is considered sunk, and the owner announces it</p>

<h3>What you need to play:</h3>

<ul>
    <li>2 players</li>
    <li>Time Limit: 30 minutes</li>
    <li>Each players must have the same number of ships</li>
</ul>
<ul>
    <li>

    </li>
</ul>

<h3>
    Game Objectives:
    <ul>
        <li>
            The goal of the game Battleship is to sink all of your opponent's ships before they sink yours.
        </li>
    </ul>
</h3>